body, nav, ul, li, a  {margin: 0; padding: 0;}
body {font-family: "Helvetica Neue", Verdana, Arial, sans-serif; }
a {text-decoration: none;}
.container {
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
}
.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}
.nav {
    list-style: none;
     *zoom: 1;
     background:#323232;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}

.nav a {
    padding: 10px 15px;
    color:#fff;
}
.nav li {
    position: relative;
	
}
.nav > li {
    float: left;
	width:20%;
	/*
    border-top: 1px solid #323232;
	
	*/
}

.nav > li > a {
    display: block;
	
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
/*.nav li a:hover {color:orange;}
*/
.nav li:hover >  a {color:orange; }

.nav li li:hover > a {color:white}

.nav li li a:hover{
	opacity:0.8;
}

.nav li li a {
    display: block;
    background: orange;
    position: relative;
    z-index:100;
	color:white;
	min-width:200px;
  
}
@media screen and (max-width: 480px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
		width:100%;
		
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}